# Langsung Masuk ke Index Utama di app/index.php
DirectoryIndex index.php

# Directory Tidak Dapat Dilihat
Options -Indexes

# Redirect Untuk Directory Yang Tidak Ada
Options +FollowSymLinks
RewriteEngine On

# Pengecualian untuk file dan direktori yang ada
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Alihkan semua permintaan ke app/index.php
RewriteRule ^(.*)$ app/index.php [L]
